*{
  font-family: "Roboto", sans-serif; 
}
.container{
    max-width: 1376px;
    margin: 0 auto;
}
.parent {
    width: 640px;
    height: 360px;
    cursor: pointer;
    position: relative;
    margin-bottom: 50px;
  }
  
  .parent img {
    width: 640px;
    height: 360px;
    border-radius: 4px;
  }
  
  .parent::after {
    content: '';
    display: block;
    width: inherit;
    height: inherit;
    background: rgba(255, 255, 255, 0);
    position: absolute;
    top: 0;
  }
  
  .parent:hover::after {
    background: rgba(255, 255, 255, .3);
  } 
  svg{
    fill: rgba(80,102,123,.2);
  }
 
 .parent-margin{
    margin: 50px;

 }
  .label {
    color: white;
    text-transform: uppercase;
    background: #08d092;
    border-radius: 4px;
    padding: 0 15px;
    position: absolute;
    top: 10px;
    left: -10px;
    font-weight: bold;
    line-height: 24px;
    font-size: 0.7em;
    letter-spacing: 2px;
    font-family: Roboto,San Francisco,Helvetica Neue,Helvetica,Arial;
  }
  
  .svg-span{
    margin: 0 16px 0 1px;
    font-size: 13px;
  }


.comment-span{
    margin: 0 16px 0 1px;
    font-size: 13px;
   }

.like-span{
    margin: 0 16px 0 1px;
    font-size: 13px;
    
  }
  .info{
    color: rgba(80,102,123,.5);
    display: flex;
    align-items: center;
    
  }

  .new-blog-content{
    margin-left: 10px;
  }


  .category{
    color: #08d092;
      line-height: 1.17;
      letter-spacing: 2px;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: bold;
  }
  
  
  .date{
    text-transform: none;
      letter-spacing: initial;
      color: #08d092;
      line-height: 1.17;
      font-size: 12px;
      font-weight: bold;
  }
  
  .name{
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #3f5368;
  
  }
  
  .news{
    font-weight: bold;
      font-size: 12px;
      line-height: 1.17;
      color: rgba(80, 102, 123, 0.5);
      letter-spacing: 2px;
      text-transform: uppercase;
  }
  
  
  
  .blog1 {
    width: 416px;
    height: 234px;
    cursor: pointer;
    position: relative;
    margin-bottom: 150px;
  }
  
  .blog1 img {
    width: 416px;
     height: 234px;
    border-radius: 4px;
  }
  
  .blog1::after {
    content: '';
    display: block;
    width: inherit;
    height: inherit;
    background: rgba(255, 255, 255, 0);
    position: absolute;
    top: 0;
  }
  
  .blog1:hover::after {
    background: rgba(255, 255, 255, .3);
  }

  

  .header-new-blog{
    margin: 0 0 24px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #3f5368;
  }

  .header-new-theme{
    margin: 0 0 24px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #3f5368;
  }

  .new-name-blog{
    margin: 0 0 32px 0;
  
  }

  .new-name-blog img{
    width: 160px;
    height: 90px;
  }
    
  .h3{
    /* margin: -4px 0 4px; */
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #3f5368;
    margin: 0;
    /* margin: 0 0 0 12px; */


    
    
  }

  .new-theme{
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    padding: 48px 0;
    
  }

  .news-blog{
    display: flex;
    flex-direction: column;
    margin-right: 16px;
    padding: 48px 0;
    width: 50%;
  }
  
  .new-theme-blog{
  display: flex;
  flex-direction: column;
  margin: 0 0 24px 0;
  }
   .img-theme{
    width: 32px;
    height: 32px;
    margin: 0 8px 0 0;
    border-radius: 50%;
  }
  .main-content{
    background-color: #f4f5fa;
    
  }
  .text-answer{
    margin: 0 4px;
    color: #08d092;
    font-weight: 500;
  }
  .main-blog{
    display: flex;
    flex-direction: row;
  }

  .h3-theme{
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #3f5368;
  }
  .block-vp{
    width: 100%;
    display: flex;
  }

  .vacans{
    width: 66.6%;
    display: flex;
    flex-direction: column;


  }
  .vacans h2{
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    margin: 0 0 24px;
    color: #3f5368;
  }

.vacan-columns{
  display: flex;
}
.column-block{
  /* width: 50%; */
  display: flex;
  flex-direction: row;
}
.column{
  display: flex;
  width: 50%;
  flex-direction: column;

}
.row-column {
display: flex;
padding-bottom: 24px;
/* flex-direction: column; */
}
.row-column img{
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 0;
  
}
.row-vac-text {
  margin-left: 15px;
}
.row-vac-text h3{
  font-size: 17px;
    line-height: 24px;
    
    font-weight: 500;
    margin: 0 0 4px;
}

.row-vac-text p{
  font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    margin-bottom: 4px;
    color: rgba(80,102,123,.5);
}

.row-vac-text p span:not(:first-child):before {
  content: "•";
    display: inline-block;
    margin: 0 5px;
}
.price{
  font-size: 17px;
  line-height: 20px;
  font-weight: 500;
  color: #08d092;
  text-transform: uppercase;
}
.price span {
  margin-left: 5px;
}

  .project{
    width: 33.3%;
  }
  .project h2{
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #3f5368;
  }